@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.video-info {
  max-width: 80rem;
  padding: 0 1rem;
  @include tablet {
    padding: 0 2.25rem;
  }
  @include desktop {
    padding: 0;
  }
  &__title {
    margin: 0 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e1e1e1;
    @include tablet {
      font-size: 33px;
      font-weight: 700;
      border-bottom: none;
      padding-bottom: 0;
      padding-top: 33px;
    }
  }
  &__description {
    font-size: 13px;
    line-height: 18px;
    margin: 0 0;
    padding-bottom: 1rem;
    @include tablet {
      font-size: 14px;
      line-height: 22px;
      padding-bottom: 2.25rem;
    }
    @include desktop {
      padding-right: 1rem;
    }
  }
}

.stats {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  @include tablet {
    justify-content: space-between;
  }
  &__text {
    color: $text-secondary;
    font-size: 13px;
    line-height: 18px;
    margin: 0 0;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    &--color {
      color: $text-primary;
      font-weight: 700;
    }
    @include tablet {
      font-size: 14px;
      line-height: 22px;
      padding-bottom: 0.5rem;
      width: auto;
    }
  }
  &__block {
    width: 55%;
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    &--width {
      @include tablet {
        width: 27%;
      }
      @include desktop {
        padding-right: 1rem;
      }
    }
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      width: 27%;
    }
  }
  &__icon {
    padding-right: 0.5rem;
  }
}
