$font-stack: "Avenir Next";
$root-font-size: 100%;

html {
    font-size: $root-font-size;
}
@font-face {
    font-family: $font-stack;
    src: url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"),
         url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff"),
         url("../../assets/Font/AvenirNextLTPro-Regular.ttf") format("truetype"),
         url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: $font-stack;
    src: url("../../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"),
         url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff"),
         url("../../assets/Font/AvenirNextLTPro-Demi.ttf") format("truetype"),
         url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: $font-stack;
    src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"),
         url("../../assets/Font/AvenirNextLTPro-Bold.woff") format("woff"),
         url("../../assets/Font/AvenirNextLTPro-Bold.ttf") format("truetype"),
         url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: $font-stack;
}
