$button-primary: #0095FF;
$button-secondary: #0065AD;
$button-text: #FFFFFF;

$text-primary: #323232;
$text-secondary: #AFAFAF;

$form-field-background: #FAFAFA;
$form-field-outline: #E1E1E1;

$video-primary: #000000;
