@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video {
  background-color: $video-primary;
  @include tablet {
    padding: 0 2.25rem;
  }
  @include desktop {
    padding: 0px 11.25rem;
  }
  &__player {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    max-width: 80rem;
  }
}
