@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.upload {
  padding: 0 1rem;
  border-top: 1px solid #e1e1e1;
  max-width: 80rem;
  margin: 0 auto;
  @include tablet {
    padding: 0 2.25rem;
  }
  @include desktop {
    padding: 0 7.25rem;
  }
  &__title {
    padding-bottom: 1.5rem;
    @include margin-reset;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 1.5rem;
    @include tablet {
      font-size: 2.0625rem;
      font-weight: 700;
      padding-top: 2.25rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid #e1e1e1;
    }
  }
  &__thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    @include tablet {
      width: 50%;
    }
    @include desktop {
      height: 11.5rem;
      width: 100%;
    }
  }
  &__thumbnail-title {
    text-transform: uppercase;
    font-size: 0.6875rem;
    color: #afafaf;
    font-weight: 600;
    @include margin-reset;
    padding-bottom: 0.25rem;
    @include tablet {
      padding-top: 1.75rem;
      padding-bottom: 0.25rem;
      font-size: 0.8125rem;
    }
  }
  &__thumbnail-container {
    padding-bottom: 0.75rem;
    @include desktop {
      width: 50%;
      margin-right: 2rem;
    }
  }
}

.form {
  @include tablet {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  &__label {
    text-transform: uppercase;
    font-size: 0.6875rem;
    color: #afafaf;
    font-weight: 600;
    @include margin-reset;
  }
  @include tablet {
    font-size: 0.75rem;
  }
  &__desktop-container {
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &--text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      @include desktop {
        height: 100%;
        padding-top: 2rem;
      }
    }
  }
  &__input {
    padding: 0.5rem 0.75rem 0.5rem;
    margin-bottom: 1rem;
    @include tablet {
      padding: 0.75rem 0.75rem 0.75rem;
      margin-bottom: 1.5rem;
    }
    @include desktop {
      margin-bottom: 1.75rem;
    }
    &--padding {
      border-radius: 0.25rem;
      border: 1px solid #e1e1e1;
      background-color: #fafafa;
      padding: 0.5rem 0.75rem 3.75rem 0.75rem;
      @include tablet {
        padding: 0.75rem 0.75rem 4rem 0.75rem;
      }
    }
    &::placeholder {
      font-family: "Avenir Next";
      font-size: 0.8125rem;
      color: $text-primary;
    }
  }
  &__button {
    background-image: url("../../assets/Icons/publish.svg");
    text-transform: uppercase;
    @include tablet {
      width: 11rem;
      margin-top: 0;
    }
    &--cancel {
      background-color: #ffffff;
      border: none;
      color: #0095ff;
      font-size: 0.8125rem;
      font-weight: 600;
      font-family: "Avenir Next";
      height: 2.5rem;
      width: 100%;
      border-radius: 0.25rem;
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      @include tablet {
        width: 11rem;
        margin-top: 0;
      }
    }
  }
  &__button-division {
    @include tablet {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      padding-top: 1rem;
      margin-top: 1.75rem;
      border-top: 1px solid #e1e1e1;
    }
  }
}
