@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.upload {
  padding: 0 1rem;
  border-top: 1px solid #e1e1e1;
  max-width: 80rem;
  margin: 0 auto;
  &__title-container {
    padding-bottom: 1rem;
  }
  &__title {
    margin: 0 0;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 1.5rem;
  }
  &__thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
  }
  &__thumbnail-title {
    font-size: 13px;
    color: #afafaf;
    font-weight: 600;
    margin: 0 0;
    padding-bottom: 0.25rem;
  }
  &__thumbnail-container {
    padding-bottom: 0.75rem;
  }
}

.form {
  &__label {
    font-size: 13px;
    color: #afafaf;
    font-weight: 600;
    margin: 0 0;
  }
  &__input {
    &::placeholder {
      font-family: "Avenir Next";
      font-size: 13px;
      color: $text-primary;
    }
  }
  &__button {
    &--cancel {
      background-color: #ffffff;
      border: none;
      color: #0095ff;
      font-size: 13px;
      font-weight: 600;
      font-family: "Avenir Next";
      height: 40px;
      width: 100%;
      border-radius: 4px;
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
