@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.submission {
  padding: 0 1rem;
  @include tablet {
    padding: 0 2.25rem;
  }
  &__avatar {
    max-width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
  &__counter {
    margin: 0 0;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 1rem;
    @include tablet {
      padding-bottom: 1rem;
      font-weight: 700;
    }
  }
  &__subdivision {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e1e1e1;
    @include tablet {
      align-items: center;
    }
  }
  &__image-block {
    padding-top: 1.25rem;
    margin-right: 16px;
    @include tablet {
      margin-right: 30px;
    }
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  &__label {
    padding-bottom: 0.25rem;
  }
  &__input {
    border-radius: 4px;
    border: 1px solid $form-field-outline;
    background-color: $form-field-background;
    padding: 0.75rem 0rem 4rem 0.75rem;
    &::placeholder {
      font-family: "Avenir Next";
      font-size: 13px;
      color: $text-primary;
    }
    @include tablet {
      padding: 0.75rem 0.75rem 0.75rem;
    }
  }
  &__label {
    font-size: 12px;
    color: $text-secondary;
    font-weight: 600;
  }
  &__button {
    background-image: url("../../assets/Icons/add_comment.svg");
    background-repeat: no-repeat;
    background-position: 5% 50%;
    border: none;
    background-color: $button-primary;
    color: $button-text;
    font-size: 12px;
    font-family: "Avenir Next";
    height: 40px;
    width: 100%;
    border-radius: 4px;
    margin-top: 1rem;
    @include tablet {
      width: 12.375rem;
      margin-left: 1rem;
      margin-top: 1.125rem;
    }
  }
  &__tablet-division {
    display: flex;
    flex-direction: column;
    @include tablet {
      width: 100%;
    }
  }
}

.comments {
  max-width: 80rem;
  padding: 0 1rem;
  @include tablet {
    padding: 0 2.25rem;
  }
  &__image {
    background-color: $form-field-outline;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 0;
  }
  &__card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e1e1e1;
    @include tablet {
      // justify-content: flex-start;
    }
  }
  &__image-block {
    margin-right: 16px;
    padding-top: 1.25rem;
    @include tablet {
      margin-right: 30px;
      padding-top: 0.25rem;
    }
  }
  &__text-block {
    width: 100%;
    @include tablet {
      width: 92%;
    }
  }
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    @include tablet {
      width: 100%;
    }
  }
  &__name {
    margin: 0 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
  }
  &__date {
    margin: 0 0;
    color: $text-secondary;
    font-size: 13px;
    line-height: 18px;
  }
  &__content {
    font-size: 13px;
    line-height: 18px;
    margin: 0 0;
    @include tablet {
      font-size: 14px;
      line-height: 22px;
      width: 100%;
    }
  }
}
